    /* GAME CSS */

    @keyframes rainbow {
        0% {
            background-position: left
        }
    
        50% {
            background-position: right
        }
    
        100% {
            background-position: left
        }
    }
    
    .logo-brand {
        margin-left: 30px;
        margin-top: 20px;
        background: linear-gradient(to right, #2f8ff7, #ff6ce6);;
        background-size: 200% 200%;
        animation: rainbow 2s ease-in-out infinite;
        background-clip: text;
        -webkit-background-clip: text;
        transition: color .2s ease-in-out;
        text-transform: lowercase;
        font-weight: 900;
        color: white;
        position: absolute;
        z-index: 9;
    }
    
    .logo-brand h1:hover {
        color: rgba(0, 0, 0, 0);
    }
    
    .logo-brand a {
        text-decoration: none;
        color: white
    }

    .swal2-styled.swal2-confirm {
        color: black !important;
    }
    .swal2-styled.swal2-deny {
        color: black !important;
    }
  
    .swal2-timer-progress-bar {
        background: white !important;
    }

    .leftside, .rightside {
        height: 100vh;
        width: 100%;
    }

    @media screen and (max-width:992px) {
        .leftside, .rightside {
            height: 50vh;
        }
    }

    #leftside {
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("https://img.youtube.com/vi/0e3GPea1Tyg/maxresdefault.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }


    .leftside-content {
        color: white;
        padding: 10px;
    }

    .leftside-content h1 {
        font-size: 70px;
    }

    @media screen and (max-width:450px) {
        .leftside-content h1 {
            font-size: 40px;
        }
        .leftside-content h2 {
            font-size: 20px;
        }
        .leftside-content p {
            font-size: 12px;
        }

    }

    #rightside {
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("https://img.youtube.com/vi/9Cm8D1L1IzQ/maxresdefault.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 25px;
    }

    .rightside-content {
        color: white;
        padding: 10px;
    }

    .rightside-content h1 {
        font-size: 70px;
    }

    @media screen and (max-width:450px) {
        .rightside-content h1 {
            font-size: 40px;
        }
        .rightside-content h2 {
            font-size: 20px;
        }
        .rightside-content p {
            font-size: 12px;
        }
        #hlbtn-row button{
            padding-top: 5px;
            padding-bottom: 5px;
        }

    }

    #left-video-title, #right-video-title {
        padding-left: 25px;
        padding-right: 25px;
    }

    #right-video-end-viewcount {
        display: none;
    }

    #right-video-bottom-correct-text {
        display: none;
    }

    #hlbtn-row {
        width: 50%;
        margin-left: 25%;
    }

    .vs-icon {
        left: 0;
        line-height: 200px;
        margin-top: -100px;
        position: absolute;
        text-align: center;
        top: 50%;
        width: 100%;
        z-index: 9;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        color: white;
    }

    @media screen and (max-width:992px) {
        .vs-icon {
            left: 0;
            line-height: 200px;
            margin-top: -25px;
            position: absolute;
            text-align: center;
            top: 50%;
            width: 100%;
            z-index: 9;
        }
    }

    .higherlower-btn {
        cursor: pointer;
        border-radius: 2em;
        border: 0;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-top: 10px;
        margin-bottom: 0px;
        font-family: 'Ubuntu', sans-serif;
        margin-left: 0%;
        font-size: 13px;
        box-shadow: 0 0 20px 1px rgb(0 0 0 / 4%);
        color: #ffffff;
        border: 2px solid #ffffff;
        margin-top: 10px;
    }

    .higherlower-btn:hover {
        background-color: white;
        color: black;
    }

    .score-counter {
        width: 200px;
        height: 100px;
        position: fixed;
        right: 45px;
        bottom: 0px;
        text-transform: uppercase;
        z-index: 9;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .score-counter h2 {
        color: white;
    }

    @media screen and (max-height:1050px) {
        .score-counter {
            width: 200px;
            height: 100px;
            position: fixed;
            right: -100px;
            top: 10px;
            text-transform: uppercase;
            z-index: 9;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        .score-counter h2{
            font-size: 20px;
        }
    }

    .modal-body {
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("http://www.whoateallthepies.tv/wp-content/uploads/2013/05/ramires-faceplant.gif");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .score-content h1, h2, h3, p {
        color: white;
    }

    .share-buttons ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: inline-flex;
    }
    
    .share-buttons li {
        display: inline;
        color: white;
        padding-right: 5px;
    }

    #tweet-button {
            -webkit-appearance: button;
            -moz-appearance: button;
            appearance: button;
        
            text-decoration: none;
            background-color: #00acee;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 5px;
            padding-bottom: 5px;
            border-radius: 5px;
            color: white;
    }

    #fb-share-button {
        -webkit-appearance: button;
        -moz-appearance: button;
        appearance: button;
    
        text-decoration: none;
        background-color: #4267B2;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 5px;
        color: white;
}

.losing-navigation-buttons ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 50px;
    display: inline-flex;
}

.losing-navigation-buttons li {
    display: inline;
    color: white;
    padding-right: 5px;
}

.btn-losingnavigation {
    cursor: pointer;
        border-radius: 2em;
        border: 0;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px;
        padding-top: 10px;
        margin-bottom: 0px;
        font-family: 'Ubuntu', sans-serif;
        margin-left: 0%;
        font-size: 13px;
        box-shadow: 0 0 20px 1px rgb(0 0 0 / 4%);
        color: #ffffff;
        border: 2px solid #ffffff;
        margin-top: 10px;
}

.btn-losingnavigation:hover {
    background-color: white;
        color: black;
}

#play-again-btn {
    padding-right: 30px;
    padding-left: 30px;
}